<b>Exporting footballer data in excel by clicking below button</b><br>

<button (click)="exportAsXLSX()">
  <i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>
  
<table class="table table-striped">
	<tr>
		<td><b>Player Name</b></td>
		<td><b>Player Country</b></td>
		<td><b>Player Club</b></td>
  </tr>
  <tbody>
	<tr *ngFor="let item of dataOfFootballers">
		<td>{{item.playerName}}</td>
		<td>{{item.playerCountry}}</td>
		<td>{{item.playerClub}}</td>
  </tr>
  </tbody>
</table>